spring:
  application:
    name: spring-boot-template

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
      enabled: true

logging:
  level:
    root: INFO

info:
  app:
    name: Spring Boot Enterprise Template
    version: 0.0.3
    description: Enterprise foundation service
